{% extends 'base.html' %}
{% block 'content' %}
<main class="content">
    <div class="container-fluid p-0">
        {% if my_answer %}
        <div class="alert alert-{{ color }} alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            <div class="alert-message">
                <strong>Hello there!</strong> {{ my_answer }}
            </div>
        </div>
        {% endif %}
        <h1 class="h1 mb-3">{{ num_1 }} + {{ num_2 }} = ?</h1>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">{{ my_answer }}</h5>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'website:add' %}" method="POST">
                            {% csrf_token %}         
                            <div class="mb-3">
                                <label class="form-label">Type Your Solution</label>
                                <input class="form-control" type="text" placeholder="Answer here..." name="answer"></input>
                                <input type="hidden" name="old_num_1" value="{{ num_1 }}">
                                <input type="hidden" name="old_num_2" value="{{ num_2 }}">
                            </div>                            
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>								
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}