{% extends 'base.html' %}
{% block 'content' %}
<main class="content">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">Addition</h1>
        <p>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Empty card</h5>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'website:add' %}" method="POST">
                            {% csrf_token %}                            
                            <div class="mb-3">
                                <label class="form-label">Solution</label>
                                <input class="form-control" type="text" placeholder="Answer here..." name="answer"></input>
                            </div>                            
                            <div class="mb-3">
                                <label class="form-check m-0">
                                    <input type="checkbox" class="form-check-input">
                                    <span class="form-check-label">Check me out</span>
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>								
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}